$black: #000;
$white: #fff;
$purple: #CF51CE;
$blue-dark: rgba(51, 26, 47, 0.8);
$grey: rgba(51, 26, 47, 0.5);
$grey-dark: rgba(51, 26, 47, 1);
$gradient: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);

$mobile-width: 360px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1279px;
$desktop-width: 1280px;
$desktop-full-width: 1920px;
